<h1>Course instructors</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Instructor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses_instructors.each do |courses_instructor| %>
  <tr>
    <td><%= courses_instructor.course_id %></td>
    <td><%= courses_instructor.instructor_id %></td>
    <td><%= link_to 'Show', courses_instructor %></td>
    <td><%= link_to 'Edit', edit_courses_instructor_path(courses_instructor) %></td>
    <td><%= link_to 'Destroy', courses_instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Courses instructor', new_courses_instructor_path %>
